<section class="section section-lg" id="contato">
    <div class="container">
        <div class="row row-grid">
            <div class="col-md-4">
                <hr class="line-info" />
                <h1 i18n="@@contato-formulario-titulo">
                    Entre em
                    <span class="text-info"> contato: </span>
                </h1>
            </div>
        </div>
        <div class="row row-grid">
            <div class="col col-md-12">
                <app-contact-form></app-contact-form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-coin card-plain">
                    <ul class="list-group">
                        <li i18n="@@contato-endereco" class="list-group-item">
                            Endereço:<br/>
                            Avenida Francisco Glicério 150 SL 805<br/>
                            Campinas-SP<br/>
                            Brasil<br/>
                            CEP: 13026-500<br/>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-coin card-plain">
                    <ul class="list-group">
                        <li i18n="@@contato-informacoes" class="list-group-item">
                            Telefones e Whatsapp:<br/>
                            19 99811-5055<br/>
                            contato@v12brasil.com.br<br/>
                            Segunda a Sexta das 09h as 18h<br/>
                            <br/>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-coin card-plain">
                    <ul class="list-group">
                        <li i18n="@@contato-descricao" class="list-group-item">
                            Agência de Marketing Digital e Inbound Marketing.<br/>
                            Especializada em SEO e experiência de usuário.<br/>
                            <br/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>