<footer class="footer">
    <div class="footer-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="title">V12 Brasil</h1>
                </div>
                <div class="col-md-3">
                    <ul class="nav">
                        <li class="nav-item">
                            <a i18n="@@footer-link-inicio" class="nav-link" [routerLink]="['']"> Início </a>
                        </li>
                        <li class="nav-item">
                            <a i18n="@@footer-link-sobre" class="nav-link" [routerLink]="['/about']">
                                Sobre a V12
                            </a>
                        </li>
                        <li class="nav-item">
                            <a i18n="@@footer-link-contato" class="nav-link" [href]="this.whatsapp.url" (click)="this.analytics.emmitEvent('whatsApp', 'Social', 'engagement', 'Tentativa de contato por Whatsapp')" target="_blank" fragment="contato">
                                Entre em contato
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="nav">
                        <li class="nav-item">
                            <a i18n="@@footer-link-servicos" class="nav-link" [routerLink]="['/services']"> Serviços </a>
                        </li>
                        <li class="nav-item">
                            <a i18n="@@footer-sublink-1-servicos" class="nav-link" [routerLink]="['/services/websites']"> Criação de Websites </a>
                        </li>
                        <li class="nav-item">
                            <a i18n="@@footer-sublink-2-servicos" class="nav-link" [routerLink]="['/services/ecommerce']"> Lojas Virtuais </a>
                        </li>
                        <li class="nav-item">
                            <a i18n="@@footer-sublink-3-servicos" class="nav-link" [routerLink]="['/services/seo']"> SEO </a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="btn-wrapper profile">
                        <a aria-label="nos acesse no Twitter" class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://twitter.com/v12brasil" target="_blank">
                            <fa-icon aria-hidden="true" class="fab" [icon]="faTwitter" [class]="faTwitter"></fa-icon>
                        </a>
                        <a aria-label="nos acesse no Facebook" class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://facebook.com/v12brasil" target="_blank">
                            <fa-icon aria-hidden="true" class="fab" [icon]="faFacebook" [class]="faFacebook"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>