<div class="wrapper">
    <section class="section section-lg">
        <section class="section">
            <div class="container">
                <div class="row row-grid justify-content-center">
                    <div class="col-md-12 text-center">
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="row row-grid justify-content-between">
                    <div class="mx-auto col-lg-4 col-md-5">
                        <div class="icon icon-warning">
                            <i class="v12-icons icon-bulb-63" style="font-size: 24em;"> </i>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 text-right">
                        <h1 class="text-white">
                            Mais que uma Agência. <br />
                            <span class="text-white"> Inteligência aplicada aos negócios. </span>
                        </h1>
                        <p class="text-white font-size-md mb-3">
                            Somos mais que uma agência full service de Marketing Digital.
                        </p>
                        <p class="text-white font-size-md mb-3">
                            Investimos em estudos de Psicologia, Comportamento Humano e Programação Neuro Linguística e
                            aplicamos os conceitos no desenvolvimento completo de projetos e campanhas para web.
                        </p>
                        <p class="text-white font-size-md mb-3">
                            Focamos nas necessidades específicas de cada cliente.
                        </p>
                        <p class="text-white font-size-md mb-3">
                            Partimos de um diagnóstico detalhado do segmento de cada cliente, baseado em fatos e em números
                            e identificamos as soluções adequadas para trazer os resultados que nossos clientes esperam e merecem.
                        </p>
                        <p class="text-white font-size-md mb-3">
                            Além de toda a inteligência na hora de desenvolver os trabalhos, utilizamos técnicas modernas de gestão
                            de projetos, incluindo as melhores práticas do PMI®.
                        </p>
                        <p class="text-white font-size-md mb-3">
                            Com isso, reduzimos a possibilidade de falhas na operação, garantindo que tudo saia conforme
                            o planejado e dentro do prazo definido.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="section section-lg">
        <div class="container">
            <div class="row row-grid justify-content-center">
                <div class="col-lg-12">
                    <div class="row row-grid justify-content-center">
                        <div class="col-lg-4">
                            <div class="info">
                                <div class="icon icon-primary">
                                    <i class="v12-icons icon-map-big"> </i>
                                </div>
                                <h4 class="info-title">MISSÃO</h4>
                                <hr class="line-primary" />
                                <p>
                                    Oferecer soluções completas em marketing e comunicação digital, focadas na criação,
                                    posicionamento e gerenciamento de marcas de empresas e instituições na internet.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="info">
                                <div class="icon icon-warning">
                                    <i class="v12-icons icon-world"> </i>
                                </div>
                                <h4 class="info-title">VISÃO</h4>
                                <hr class="line-warning" />
                                <p>
                                    Ser uma agência referência nacional em comunicação digital para seus clientes e para o mercado,
                                    além de um exemplo de empresa inovadora, rentável, ágil, comprometida com os resultados, funcional e auto-sustentável.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="info">
                                <div class="icon icon-success">
                                    <i class="v12-icons icon-trophy"> </i>
                                </div>
                                <h4 class="info-title">VALORES</h4>
                                <hr class="line-success" />
                                <p>
                                    Inovação, integridade, transparência, foco nos resultados, compromisso e responsabilidade social.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
