<div class="wrapper">
  <section class="section section-lg">
    <section class="section">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-md-12 text-center">
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row row-grid justify-content-between">
          <div class="col-lg-6 col-md-6">
            <h1 i18n="@@ecommerce-componente-titulo" class="text-white">
              <span class="text-warning">E-Commerce</span> criação de <span class="text-success">Lojas Virtuais</span>
            </h1>
            <p i18n="@@ecommerce-componente-paragrafo-1">
              Devo investir em uma Loja Virtual?
            </p><br/>
            <p i18n="@@ecommerce-componente-paragrafo-2">
              Se hoje você vende algum produto ou serviço, a resposta é: Sim, você deve investir em uma Loja Virtual.
              Veja abaixo alguns dados para você entender melhor o porque:
            </p><br/>
            <p i18n="@@ecommerce-componente-paragrafo-3">
              No primeiro semestre de 2017, 25,5 milhões de pessoas concretizaram pelo menos 1 compra online,
              10% a mais que em 2016 e a tendência é aumentar em 2018, com estimativas de crescimento de 15%
              quando comparado com 2017, segundo a Ebit.
            </p>
          </div>
          <div class="mx-auto col-lg-4 col-md-5 align-self-center">
            <img alt="Agência de Marketing Digital & SEO" class="img-fluid" src="assets/img/desenvolvimento-lojas-virtuais.svg"/>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row row-grid justify-content-between">
          <div class="mx-auto col-lg-4 col-md-5 align-self-center">
            <img alt="Agência de Marketing Digital & SEO" class="img-fluid"
                 src="assets/img/vantagem-lojas-virtuais.svg"/>
          </div>
          <div class="col-lg-6 col-md-6 text-right">
            <h1 i18n="@@ecommerce-componente-vantagens-titulo" class="text-white">
              Vantagens de uma Loja Virtual
            </h1>
            <p i18n="@@ecommerce-componente-vantagens-paragrafo-1">
              A venda de celulares e dispositivos mobile cresceu absurdamente, o mundo está cada dia mais conectado e
              voltado para o online.
              Somente este fato já é motivo para um empreendedor antenado investir em uma Loja Virtual, sem contar que
              sua loja estará aberta 365 dias por ano,
              24 horas por dia!
            </p><br/>
            <p i18n="@@ecommerce-componente-vantagens-paragrafo-2">
              Uma Loja Virtual tem uma série de vantagens, entre elas:
            </p>
            <br/>
            <ul>
              <li i18n="@@ecommerce-componente-vantagens-lista-item-1">
                Custos reduzidos: você não precisa pagar aluguel de imóvel e arcar com custos de energia elétrica,
                água, manutenção, etc.
              </li>
              <br/>
              <li i18n="@@ecommerce-componente-vantagens-lista-item-2">
                Comodidade: com estilos de vida cada vez mais ocupadas, comprar online e receber na comodidade de casa
                se torna um diferencial para muitas pessoas.
              </li>
              <br/>
              <li i18n="@@ecommerce-componente-vantagens-lista-item-3">
                Vendas sem limites geográficos: seu produto ou serviço pode chegar a qualquer lugar!
              </li>
              <br/>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row row-grid justify-content-between">
          <div class="col-lg-12 col-md-12 text-center">
            <h2 i18n="@@ecommerce-componente-tecnologias-titulo" class="text-white">
              Lojas Virtuais em Wordpress e Magento
            </h2>
            <p i18n="@@ecommerce-componente-tecnologias-paragrafo">
              Lojas virtuais pensadas e customizadas para a necessidade de cada cliente e aplicando toda a inteligência
              que adquirmos em mais de 20 anos.<br/>
              Estudamos psicologia, comportamento humano e programação neuro linguística e aplicamos os conceitos, para
              que os usuários tenham a melhor experiência com a loja.<br/>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-md-12">
            <div class="card card-chart card-plain">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <hr class="line-primary"/>
                    <h5 class="card-category"></h5>
                    <h2 i18n="@@ecommerce-componente-caracteristicas-titulo" class="card-title">Características</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row row-grid justify-content-center">
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-primary">
                    <i class="v12-icons icon-chat-33"> </i>
                  </div>
                  <hr class="line-primary"/>
                  <p i18n="@@ecommerce-componente-caracteristicas-chat">
                    Chat Online
                  </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-warning">
                    <i class="v12-icons icon-planet"> </i>
                  </div>
                  <hr class="line-warning"/>
                  <p i18n="@@ecommerce-componente-caracteristicas-redes-sociais">
                    Integração com Redes Sociais
                  </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="v12-icons icon-map-big"> </i>
                  </div>
                  <hr class="line-success"/>
                  <p i18n="@@ecommerce-componente-caracteristicas-google-maps">
                    Integração com Google Maps
                  </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="v12-icons icon-lock-circle"> </i>
                  </div>
                  <hr class="line-danger"/>
                  <p i18n="@@ecommerce-componente-caracteristicas-modulo-administracao">
                    Módulo Administrativo
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row row-grid justify-content-center">
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-primary">
                    <i class="v12-icons icon-mobile"> </i>
                  </div>
                  <hr class="line-primary"/>
                  <p i18n="@@ecommerce-componente-caracteristicas-design-responsivo">
                    Design Responsivo
                  </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-warning">
                    <i class="v12-icons icon-book-bookmark"> </i>
                  </div>
                  <hr class="line-warning"/>
                  <p i18n="@@ecommerce-componente-caracteristicas-otimizacao-seo">
                    Otimização para mecanismos de Busca
                  </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="v12-icons icon-chart-pie-36"> </i>
                  </div>
                  <hr class="line-success"/>
                  <p i18n="@@ecommerce-componente-caracteristicas-relatorios">
                    Acesso a Relatórios Detalhados
                  </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="v12-icons icon-app"> </i>
                  </div>
                  <hr class="line-danger"/>
                  <p i18n="@@ecommerce-componente-caracteristicas-blog">
                    Integração com Blog
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
