<div class="wrapper">
  <section class="section section-lg">
    <section class="section">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-md-12 text-center">
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row row-grid justify-content-between">
          <div class="col-lg-6 col-md-6">
            <h1 class="text-white">
              Marketing Digital <br />
              <span class="text-white"> & SEO </span>
            </h1>
            <p class="text-white font-size-md mb-3">
              A V12 Brasil é uma Agência de Marketing Digital full service que tem como objetivo o desenvolvimento completo de projetos e campanhas para web focando:
            </p>
            <p class="text-white font-size-md mb-3">
              Na melhor Estratégia Digital para encontrar a rota de sucesso para o seu negócio,
            </p>
            <p class="text-white font-size-md mb-3">
              Na análise e pesquisa da Experiência de Usuário e com isso entender melhor como se comportam os usuários que chegam até o seu site,
            </p>
            <p class="text-white font-size-md mb-3">
              Em UX Design para fazer com que o seu cliente tenha a melhor experiência com seu site,
            </p>
            <p class="text-white font-size-md mb-3">
              No Desenvolvimento Web para criar sites responsivos e confiáveis.
            </p>
            <p class="text-white font-size-md mb-3">
              Por mais de 20 anos ajudamos clientes a crescer online! O seu crescimento é o nosso crescimento também e se você acredita estar pronto para realizar todo o seu potencial digital, estamos aqui para ajudá-lo!
            </p>
            <div class="btn-wrapper mb-3">
              <p class="category text-success d-inline mr-1">aumente sua presença e engajamento online</p>
              <a class="btn btn-success btn-link btn-sm" [routerLink]="['/servicos']" placement="bottom" tooltip="Saiba mais...">
                <i class="v12-icons icon-minimal-right"> </i>
              </a>
            </div>
          </div>
          <div class="mx-auto col-lg-4 col-md-5 align-self-center">
              <img alt="Agência de Marketing Digital & SEO" class="img-fluid" src="assets/img/seo.png" />
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="section section-lg">
      <div class="container">
        <div class="row row-grid justify-content-between">
          <div class="col-md-12 text-center">
            <div class="pl-md-4 col-md-12 pr-md-4">
              <h1>
                A INTELIGÊNCIA <br />
                 APLICADA AO SEU NEGÓCIO
              </h1>
              <p>
                Investimos tempo em cursos e estudos de psicologia, comportamento humano,
                programação neuro linguística (PNL) e aplicamos aos serviços e soluções que oferecemos.
              </p>
              <br />

              <p>
                O resultado disso são soluções criativas e inovadoras, customizadas para a necessidade de cada cliente, para transformar o seu negócio em um case de sucesso.
              </p>
              <br />

              <a class="font-weight-bold text-info mt-5" href="javascript:void(0)">
                saiba mais... <i class="v12-icons icon-minimal-right text-info"> </i>
              </a>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-md-12">
          <div class="card card-chart card-plain">
            <div class="card-header">
              <div class="row">
                <div class="col-sm-6 text-left">
                  <hr class="line-primary" />
                  <h5 class="card-category"></h5>
                  <h2 class="card-title">Serviços</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row row-grid justify-content-center">
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="v12-icons icon-globe-2"> </i>
                </div>
                <h4 class="info-title">WEBSITES</h4>
                <hr class="line-primary" />
                <p>
                  Desenvolvimento de websites responsivos e confiáveis com foco em conversão e experiência de usuários.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-warning">
                  <i class="v12-icons icon-cart"> </i>
                </div>
                <h4 class="info-title">LOJAS VIRTUAIS</h4>
                <hr class="line-warning" />
                <p>
                  Lojas Virtuais planejadas e desenvolvidas desde a concepção até a adaptação do plano de negócios para a operação online.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-success">
                  <i class="v12-icons icon-chart-bar-32"> </i>
                </div>
                <h4 class="info-title">SEO</h4>
                <hr class="line-success" />
                <p>
                  Posicionar a sua empresa no topo dos mecanismos de pesquisas é o objetivo das nossas estratégias de SEO.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
