<div class="wrapper">
    <section class="section section-lg">
        <section class="section">
            <div class="container">
                <div class="row row-grid justify-content-center">
                    <div class="col-md-12">
                        <h1 class="text-white">
                            Ter um site é estar presente <br />
                            <span class="text-white"> na Web </span>
                        </h1>
                        <p>
                            Se o seu negócio ainda não está presente na Internet, então é hora de parar para pensar e
                            avaliar se é chegado o momento de investir na criação de um website que represente a sua marca,
                            os seus produtos e serviços.
                        </p><br/>
                        <p>
                            Segundo os dados de uma pesquisa divulgados recentemente pela empresa Statista, o número de pessoas
                            que terão em mãos um aparelho celular em 2019 é de 5,07 bilhões! Em 2017, esse número chegou a 4,77 bilhões.
                        </p><br/>
                        <p>
                            Essa estatística, por si só, já é um excelente motivo para o investimento em um website.
                            Porém, existem muitas outras vantagens de se ter um website. Veja abaixo.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="section section-lg">
        <div class="container">
            <div class="row row-grid justify-content-center">
                <div class="col-md-12">
                    <h1 class="text-white">
                        PORQUE VOCÊ DEVE INVESTIR EM UM WEBSITE
                    </h1>
                </div>
                <div class="col-md-12">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-6 text-left">
                                    <hr class="line-primary" />
                                    <h5 class="card-category"></h5>
                                    <h2 class="card-title">Serviços</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row row-grid justify-content-center">
                        <div class="col-lg-4">
                            <div class="info">
                                <div class="icon icon-primary">
                                    <i class="v12-icons icon-check-2"> </i>
                                </div>
                                <h4 class="info-title">CREDIBILIDADE</h4>
                                <hr class="line-primary" />
                                <p>
                                    Ter um website bem planejado e administrado transmite credibilidade, profissionalismo
                                    e contribui positivamente para o fortalecimento da sua marca.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="info">
                                <div class="icon icon-warning">
                                    <i class="v12-icons icon-globe-2"> </i>
                                </div>
                                <h4 class="info-title">PRESENÇA GLOBAL</h4>
                                <hr class="line-warning" />
                                <p>
                                    Em um mundo cada vez mais conectado e o aumento de usuários com celulares e
                                    dispositivo móveis, estar presente na web é mais que fundamental!
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="info">
                                <div class="icon icon-success">
                                    <i class="v12-icons icon-chat-33"> </i>
                                </div>
                                <h4 class="info-title">LEADS</h4>
                                <hr class="line-success" />
                                <p>
                                    Através do seu website é posssível captar informações importantes dos usuários (leads)
                                    que acessam o website e transformá-los em futuros clientes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row row-grid justify-content-center">
                        <div class="col-lg-4">
                            <div class="info">
                                <div class="icon icon-primary">
                                    <i class="v12-icons icon-link-72"> </i>
                                </div>
                                <h4 class="info-title">RELACIONAMENTO</h4>
                                <hr class="line-primary" />
                                <p>
                                    O website integrado com as redes e mídias sociais aliado à um conteúdo bem feito
                                    garantem o bom relacionamento com clientes e futuros clientes.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="info">
                                <div class="icon icon-warning">
                                    <i class="v12-icons icon-compass-05"> </i>
                                </div>
                                <h4 class="info-title">EXPOSIÇÃO</h4>
                                <hr class="line-warning" />
                                <p>
                                    Um bom trabalho de SEO, feito por quem realmente entende do assunto, pode garantir
                                    que o seu site seja encontrado por quem procura o que você oferece.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="info">
                                <div class="icon icon-success">
                                    <i class="v12-icons icon-money-coins"> </i>
                                </div>
                                <h4 class="info-title">VENDAS</h4>
                                <hr class="line-success" />
                                <p>
                                    Ter um website ou uma Loja Virtual significa ficar exposto na internet e consequentemente
                                    essa exposição irá aumentar as chances de você vender mais.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg">
        <section class="section">
            <div class="container">
                <div class="row row-grid justify-content-center">
                    <div class="col-md-12">
                        <h1 class="text-white">
                            Um tipo de website para cada necessidade
                        </h1>
                        <p>
                            O desenvolvimento de um site é fundamental para o seu crescimento na web e no universo digital.
                            Escolher qual tipo de site é o mais adequado para o seu negócio é tão importante quanto ter o site.
                        </p><br/>
                        <p>
                            Os sites Institucionais são os mais procurados, pois funcionam como um cartão de visitas online e
                            apresentam todas as informações importantes da empresa. Se você vende um produto ou serviço,
                            então o ideal é uma Loja Virtual.
                        </p><br/>
                        <p>
                            É possível criar sites mais simples, os chamados One Page, que apresentam as informações de
                            sua empresa em uma única página.
                        </p><br/>
                        <p>
                            Se você produz conteúdo específico para um tipo de mercado, a opção é ter um Blog.
                        </p><br/>
                        <p>
                            O ideal é entrar em contato com uma agência de confiança que irá lhe orientar adequadamente,
                            levando em consideração o seu tipo de negócio, o mercado que você atende e os resultados que você deseja alcançar.
                        </p>
                        <p>
                            Estamos à disposição para lhe ajudar a se destacar na web!
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
