<div class="wrapper">
  <section class="section section-lg">
    <section class="section">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-md-12 text-center">
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-lg-6 col-md-6">
            <h1 class="text-white">
              Criação e desenvolvimento de
              <span class="text-primary"> Websites </span>
            </h1>
            <p>
              Ter um site é estar presente na Web
            </p>
            <p>
              Se o seu negócio ainda não está presente na Internet, então é hora de parar para pensar e
              avaliar se é chegado o momento de investir na criação de um website que represente a sua marca,
              os seus produtos e serviços.
            </p><br/>
          </div>
          <div class="mx-auto col-lg-4 col-md-5 align-self-center">
            <img alt="Criação e desenvolvimento de Websites" class="img-fluid"
                 src="assets/img/website-development.svg"/>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-md-12 text-center">
            <h3 class="text-white">
              A agência V12 Brasil faz criação de websites em Wordpress e Angular, que é a tecnologia de desenvolvimento
              de sites criada pelo time do Google.
            </h3>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid justify-content-center">
              <div class="col-lg-4">
                <div class="info">
                  <div class="icon icon-primary">
                    <i class="v12-icons icon-check-2"> </i>
                  </div>
                  <h4 class="info-title">Credibilidade</h4>
                  <hr class="line-primary"/>
                  <p>
                    Ter um website bem planejado e administrado transmite credibilidade, profissionalismo
                    e contribui positivamente para o fortalecimento da sua marca.
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="info">
                  <div class="icon icon-warning">
                    <i class="v12-icons icon-globe-2"> </i>
                  </div>
                  <h4 class="info-title">Presença global</h4>
                  <hr class="line-warning"/>
                  <p>
                    Em um mundo cada vez mais conectado e o aumento de usuários com celulares e
                    dispositivo móveis, estar presente na web é mais que fundamental!
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="v12-icons icon-chat-33"> </i>
                  </div>
                  <h4 class="info-title">Leads</h4>
                  <hr class="line-success"/>
                  <p>
                    Através do seu website é posssível captar informações importantes dos usuários (leads)
                    que acessam o website e transformá-los em futuros clientes.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row row-grid justify-content-center">
              <div class="col-lg-4">
                <div class="info">
                  <div class="icon icon-primary">
                    <i class="v12-icons icon-link-72"> </i>
                  </div>
                  <h4 class="info-title">Relacionamento</h4>
                  <hr class="line-primary"/>
                  <p>
                    O website integrado com as redes e mídias sociais aliado à um conteúdo bem feito
                    garantem o bom relacionamento com clientes e futuros clientes.
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="info">
                  <div class="icon icon-warning">
                    <i class="v12-icons icon-compass-05"> </i>
                  </div>
                  <h4 class="info-title">Exposição</h4>
                  <hr class="line-warning"/>
                  <p>
                    Um bom trabalho de SEO, feito por quem realmente entende do assunto, pode garantir
                    que o seu site seja encontrado por quem procura o que você oferece.
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="v12-icons icon-money-coins"> </i>
                  </div>
                  <h4 class="info-title">Vendas</h4>
                  <hr class="line-success"/>
                  <p>
                    Ter um website ou uma Loja Virtual significa ficar exposto na internet e consequentemente
                    essa exposição irá aumentar as chances de você vender mais.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-md-12">
            <h2 class="text-white text-center">
              Um tipo de website para cada necessidade
            </h2>
            <p>
              O desenvolvimento de um site é fundamental para o seu crescimento na web e no universo digital.
              Escolher qual tipo de site é o mais adequado para o seu negócio é tão importante quanto ter o site.
            </p><br/>
            <p>
              O ideal é entrar em contato com uma agência de confiança que irá lhe orientar adequadamente,
              levando em consideração o seu tipo de negócio, o mercado que você atende e os resultados que você deseja
              alcançar.
            </p>
            <p>
              Estamos à disposição para lhe ajudar a se destacar na web!
            </p>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
