/* You can add global styles to this file, and also import other style files */
/*
 * Animation module with all animation code
 */
.whatsapp-float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25D366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 1px 1px 4px #FFFFFF;
  z-index:100;

  &:hover {
    color: #FFFFFF;
    text-decoration: none;
    outline: 0 none;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    box-shadow: 1px 1px 12px #FFFFFF;
  }
}

.whatsapp-inner-float{
  color: #FFFFFF;
  margin-top:15px;
  text-shadow: 0 0 5px white, 2px 2px 5px #000000;
  text-decoration: none;
  outline: 0 none;


  &:hover {
    color: #FFFFFF;
    text-decoration: none;
    outline: 0 none;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    text-shadow: 0 0 5px white, 2px 2px 8px #FFFFFF;
  }
}
.anim-text-flow,
.anim-text-flow-hover:hover {
  /*
   * Animation variables
   */
  $animationSteps: 20;
  $animationDuration: 50;
  $animationElement: span;
  $animationElementsCount: 100;
  $delayBetweenLetters: 0.2;

  /*
   * Elements settings
   */
  #{$animationElement} {
    animation-name: anim-text-flow-keys;
    animation-duration: #{$animationDuration}s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  /*
   * Keyframe loop
   */
  @keyframes anim-text-flow-keys {
    @for $i from 0 through $animationSteps {
      #{percentage($i * (1 / $animationSteps))} {
        color: hsla(random(365), 60, 60, 1);
      }
    }
  }

  /*
   * Element animation delay loop
   */
  $totalDelayTime: $animationElementsCount * $delayBetweenLetters;

  @for $i from 1 through $animationElementsCount {
    #{$animationElement}:nth-of-type(#{$i}) {
      animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
    }
  }
}