<section class="section section-lg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-chart card-plain">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <hr class="line-primary" />
                                <h5 class="card-category"></h5>
                                <h2 class="card-title">Clientes</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row row-grid justify-content-center align-items-center">
                    <div class="mx-auto col-lg-4">
                        <div class="chart-area text-center justify-content-center align-items-center">
                            <img alt="Cliente V12 - FGV" width="200px" class="img-fluid" src="assets/img/png-low/fgv-logo.png" />
                        </div>
                    </div>
                    <div class="mx-auto col-lg-4">
                        <div class="chart-area text-center justify-content-center align-items-center">
                            <img alt="Cliente V12 - HSM" width="200px" class="img-fluid" src="assets/img/png-low/hsm-educacao-executiva-4.png" />
                        </div>
                    </div>
                    <div class="mx-auto col-lg-4">
                        <div class="chart-area text-center justify-content-center align-items-center">
                            <img alt="Cliente V12 - FMR" width="200px" class="img-fluid" src="assets/img/png-low/FMR-logo.png" />
                        </div>
                    </div>
                </div>
                <div class="row row-grid justify-content-center align-items-center">
                    <div class="mx-auto col-lg-4">
                        <div class="chart-area text-center justify-content-center align-items-center">
                            <img alt="Cliente V12 - Vivo" width="200px" class="img-fluid" src="assets/img/png-low/logo-vivo-telefonia.png" />
                        </div>
                    </div>
                    <div class="mx-auto col-lg-4">
                        <div class="chart-area text-center justify-content-center align-items-center">
                            <img alt="Cliente V12 - Futebol Interior" width="200px" class="img-fluid" src="assets/img/png-low/logo-futebol-interior-2.png" />
                        </div>
                    </div>
                    <div class="mx-auto col-lg-4">
                        <div class="chart-area text-center justify-content-center align-items-center">
                            <img alt="Cliente V12 - Ramalho Experience" width="200px" class="img-fluid" src="assets/img/png-low/logo-ramalho-experience.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>